	body{

	
		background-color:transparent;
		background-image: url("fondo2.jpg");
		background-size:cover;
	}
		
	header, footer{
		background:#343a40;			
	    font-size:60px;
		text-align: center;
		color: white;
		font-family: arial;
		padding: 5px;
		
		}

	#cuerpo{
	
		font-family: arial;
		text-align: center;
		font-size:30px;
		
		
	}
	
	
	button{
		background: #343a40;
		color: white;		
		font-size:30px;
		color: white;
		padding:20px;
	}
	#resultado{
		min-height:50vh;
		font-size:60px;
		color: white;
		font-family: arial;
		color:black;
		padding:20px;


	}