	body{

		
		
		background-image: url("c7bba-havanaclubselecciondemaestros2 (1).jpg");
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: cover;
                min-height:100;
                color:white;

	}
		
	header, footer{
		background:#343a40;			
	        font-size:30px;
		text-align: center;
		color: white;
		font-family: arial;
		padding: 5px;
		
		}

	#cuerpo{
	
		font-family: arial;
		text-align: center;
		font-size:30px;
		color: white;
		
	}
	h1{
		font-family: arial;
		color: white;
	}
	button{
		background: #343a40;
		color: white;
		font-family: arial ;
		font-size:30px;
		color: white;
		padding:20px;
	}
	#resultado{
		min-height:50vh;
		font-size:60px;
		color: white;
	}
