	body{

		/*background:#1abc9c;*/
		background-color:transparent;
		background-image: url("fondo.jpg");
		background-size:cover;
	}
		
	header, footer{
		background:#343a40;			
	    font-size:60px;
		text-align: center;
		color: white;
		font-family: cursive;
		padding: 5px;
		
		}

	#cuerpo{
	
		font-family: arial;
		text-align: center;
		font-size:30px;
		color: white;
		
	}
	h1{
		font-family: arial;
		color: white;
	}
	button{
		background: #343a40;
		color: white;
		font-family: arial ;
		font-size:30px;
		color: white;
		padding:20px;
	}
	#resultado{
		min-height:50vh;
		font-size:60px;
		color: white;
	}